<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1>Увійти</h1>
    <form class="w-25">
        <div class="mb-3">
            <label for="email" class="form-label">Пошта або логін</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="d-flex align-items-center gap-2">
            <button type="submit" class="btn btn-primary">Увійти</button>
            <p class="m-0">
                Ще не маєте акканту?
                <a href="/register"> Зареєструватись</a>
            </p>
        </div>
    </form>
</div>
